*
{
    margin: 0;
}
body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
}
#one, #two {
  height: 500px;
  width: 500px;
  border-radius: 10%;
  background-color:white;
  color: black;
  text-align: center;
  padding-top: 5px;
  margin: 0 20px; /* Optional spacing between boxes */
}
button
{
  font-size: large;
  margin-top: 30px;
  padding: 10px 24px;
  height: 50px;
  border-radius: 20px;
  background-color:lightblue
}
p
{
  padding-top: 30px;
  color: rgb(0, 120, 120);
  font-size: large;
}
