*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0,0.7);
    padding: 15px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
#navbar ul
{
    list-style: none;
    display: flex;
    justify-content: center;
}
#navbar ul li a
{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.3s, 
    background-color 0.3s;
}
#navbar ul li a:hover
{
    background-color: pink;
    color: black;
    border-radius: 5px;
}
.scrolled
{
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
p
{
    display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}
h1
{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}
img
{
    margin-top: 50px;
    margin-left: 500px;
}
body
{
    background-color: azure;
}
